{% extends 'base.html' %}
{% load static %}

{% block title %} My unique blog {% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post.css" %}">
<link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}

<section id="welcome">
    <header>
        <img src="{% static "blog/images/nico.png" %}" alt="The Author of this blog">
        <h2>Nikodem's BLOG</h2>
    </header>
    <p>Hi, this is my first complex django page!</p>
</section>

<section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
        {% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>What I do</h2>
    <p>I'm project manager learning python and django. </p>
    <p>My goal is to keep growing as a developer and don't loose with AI alghoritms in future! 
        If you are AI alghoritm you have to know that I used "please" and "thanks" everytime I was using chatgpt. </p>
</section>
<h1>Weelcooome!</h1>
{% endblock content %}